.FindHeader {
  background-image: url("/images/find_header.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.FindFormArea {
  padding: 50px 50px;
}

.detail-img img {
  background-color: #f1f1f1;
  padding: 7px;
  border-radius: 50%;
  display: block;
  margin: auto;
}

h3 {
  color: #8c8c8c;
}

// .detail-description i {
//   color: red;
// }
